services:
  bee-ui:
    profiles:
      - ui
    build:
      context: ../bee-ui
    ports:
      - "3000:3000"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'node -e "fetch(''http://localhost:3000'').then(() => process.exit(0)).catch(() => process.exit(1))"',
        ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
